@charset "Utf-8";


@import url('https://fonts.googleapis.com/css2?family=Domine:wght@400;500&display=swap');



*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    --color1: #3E0006;
    --color2: #ffffff;
    --color3: #108d03;
    --color3_1: #0e6205;
    --color4: #C10010;
}

body > button{
    background-color: var(--color3);
    position: fixed;
    bottom: 5px;
    right: 5px;
    z-index: 1;
    border: none;
    border-radius: 20px;
    padding: 15px;
}

body > button a{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: var(--color2);
}

body > button a img{ 
    padding-right: 10px;
}

a{
    text-decoration: none;
    color: inherit;
}

h1, h2, h3 , p, a{
    font-family: 'Domine', serif;
}

.btn{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    font-size: 26px;
    font-weight: 500;
    padding: 10px 20px;
}

.box{
    max-width: 980px;
    margin: auto;
    padding: 25px ;
}

/*  navbar */

#navbar{
    background-color: var(--color2);
    background-image: url(../components/fundo-textura.png);
    width: 100%;
}

#navbar-container{
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0;
}

#navbar-container p{
    font-size: 18px;
    color: var(--color1);
}

#logo{
    width: 250px;
}



/* header */

#showcase{
    background: url(../components/img-header.png) no-repeat center center/cover ;
}

#showcase-container h1{
    text-align: center;
    font-size: 25px;
    color: var(--color2);
    padding-top: 50px ;
}

#showcase-container h1::after{
    padding-left: 15px;
    content: '●';
}
#showcase-container h1::before{
    padding-right: 15px;
    content: '●';
}

/* #container-video{
    max-width: 1060px;
    margin: auto;
    padding: 50px 0;
}

 #video{
   width: 100%;
   position: relative;
}
 */

 #container-video{
    max-width: 1060px;
    margin: auto;
    padding: 50px 0;
}

div#video{
   width: 100%;
   padding-bottom: 56.25%;
   position: relative;
}

div#video > iframe{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}


.img-design > img.um{
 position: absolute;
    
    
}

.img-design > img.dois{
position: absolute;

}

#showcase #btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

#btn .btn{
    height: 70px;
    width: 530px;
    background-color: var(--color2);
    color: var(--color1);
    margin: 0 0 50px 0;
}

#btn .btn:hover{
    background-color: var(--color4);
    color: var(--color2);
    cursor: pointer;
}


/* Form */

#form {
    background-color: var(--color2);
    background-image: url(../components/fundo-textura.png);
    
}

#form-container{
    display: flex;
    align-items: center;
    padding: 20px;
    max-width: 1200px;
    margin: auto;
}

#form-container a{
    color: var(--color2);
  
}

#form-container a:hover{
    color: var(--color2);
    /* background-color: var(--color4); */
}

div.box-form{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    /* background-color: beige; */
    padding: 10px;
    
}

div.especialistas{
   display: flex;
   align-items: center;
   flex-direction: column;
   /* background-color: #C10010; */
    margin-right: 50px;
}

.especialistas a{
   
    border-radius: 15px;
    height: 70px;
    width: 90%;
}

.img-form{
    position: relative;
 
}

.img-form > img{

    padding: 25px;
    width: 100%;
    
}


.img-design > img.tres{
    position: absolute;
    left: 10px;
    top: 10px;
    
}

 .img-design > img.quatro{
    position: absolute;
    right: 10px;
    bottom: 10px;
}





div.form{
    border-radius: 10px;
    padding: 10px;
    width: 100%;
    margin-left: 50px;
    /* background-color: aqua; */
}

.form div {
    color: var(--color1);
    margin-bottom: 20px;
    padding: 15px;
    text-align: left;
    font-size: 20px;
}

form{
    padding: 15px;
    background-color: var(--color1);
    border-radius: 10px;
    display: flex;
    flex-direction: column;

}

form input{
    height: 50px;
    padding: 10px;
    margin: 5px 0;
    border-radius: 10px;
    border: none;
}

textarea{
    padding: 10px;
    margin: 5px 0;
    border-radius: 10px;
    border: none;
}

::placeholder{
    font-family: 'Domine', serif;
}

form [type="submit"]{
    height: 50px;
    background-color: var(--color2);
    color: var(--color1);
    font-size: 24px;
    font-family: 'Domine', serif;
}
form [type="submit"]:hover{
    background-color: var(--color4);
    color: var(--color2);
    cursor: pointer;
}

/* CTA */

section#cta{
    background-color: var(--color1);
    color: var(--color2);
    text-align: center;
}

#cta-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 600px;
    padding: 10px;
}

#cta-container > h2{
    font-weight: bold;
    padding: 50px 0;
    font-size: 25px;
}
#cta-container > p{
    padding: 60px 0;
    font-size: 20px;
}

.mobil{
    display: none;
}

#cta-container > a{
    height: 70px;
    margin: 30px 0;
    background-color: var(--color4);
    color: var(--color2);
}

#cta-container > a:hover{
    background-color: var(--color2);
    color: var(--color4);
}



/*  Sobre */

section#sobre{
    background-color: var(--color2);
    background-image: url(../components/fundo-textura.png);
}

div#sobre-container > div{
    padding: 20px 0;
    text-align: center;
}

div#sobre-container  h2{
    color: var(--color1);
    font-size: 36px;
}

div#sobre-container  h2::after{
    content:"●";
    padding-left: 15px;
}

div#sobre-container  h2::before{
    content: "●";
    padding-right: 15px;
}

div#sobre-container > div > p{
    font-size: 24px;
    padding: 50px;
}

div#items{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 15px;
    grid-gap: 15px;
    justify-items: center;
    margin-bottom: 20px;
}

div.box-icon{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 100%;
    height: 200px;
    border-radius: 15px;
    background-color: var(--color1);
    color: var(--color2);
}

div.box-icon p{
    padding: 15px 0;
    font-size: 15px;
}

div.button{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#sobre-container a {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    text-transform: capitalize;
    height: 60px;
    background-color: var(--color3);
    color: var(--color2);
    padding: 10px 50px;
}

#sobre-container div.button img{

    padding-right: 20px;
}

#sobre-container a:hover{
    background-color: var(--color3_1);
    cursor: pointer;
}


/*  final */


#final{
    background-color: var(--color1);
    color: var(--color2);
}

#final-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
 
}

#container1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 50px;
}

#container1 #logo{
    width: 350px;

}

div.icon{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}


div.icon1{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  padding: 15px 0;
}

div.icon1 p{
    font-size: 15px;
    font-weight: normal;
}

div.icon a{
    display: flex;
    align-items: center; 
    justify-content: center;
    border-radius: 50px;
    padding: 10px;
}

div.icon a:hover{
    background-color: #ffffff30;
}

div.icon1 img{
    padding-right: 10px;
   
}

div#divisoria{
    background-color: var(--color2);
    height: 300px;
    width: 8px;
    border-radius: 10px;
    margin: 0 100px;
}

#container2 a{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-color: var(--color2);
    color: var(--color1);
    border-radius: 5px;
    margin: 15px 0;
    height: 50px;
}

#container2 a:hover{
    background-color: var(--color4);
    color: var(--color2);
}

/* Footer */

footer{
    text-align: center;
    font-size: 12px;
    padding: 8px;
}